body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

#icon {
    width: 10%;
    height: 10%;
    margin-right: 1%; 
}

.titlePage {
    font-weight: bold;
    color: rgba(19, 19, 19, 0.945);
    text-shadow: 2px 2px 4px rgba(5, 121, 11, 0.349);
}

.title {
    text-align: center;
    font-weight: bold;
    background-color: rgba(240, 240, 240, 0.2);
    border-radius: 20px;
}

.subtitle {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    border-radius: 20px;
}

.card {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.plant
{
    max-width: 100%;
    max-height: 100%;
}

.glass {
    max-width: 100%;
    max-height: 100%;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    background: linear-gradient(100deg, rgba(0,0,0,.2),rgba(0,0,0,.2));
    box-shadow: 0 10px 26px 0 rgba(0,0,0,.70);
    margin: 5%;
}

.wallpaper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background: url('Wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
}

.border{
    max-width: 100%;
    max-height: 100%;
}

.footer {
    position: relative;
    max-width: 20%;
    max-height: 20%;
    margin-left: 10%;
    align-items: center;
}

.footer img {
    width: 30%;
    height: 30%;
    margin-top: 5%;
}