.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.title {
    text-align: center;
}

.card {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 2px;
}


#glass {
    width: 250px;
    height: 50px;
    backdrop-filter: blur(5px);
    border-radius: 30px;
    background: linear-gradient(100deg, rgba(0,0,0,.2),rgba(0,0,0,.2));
    box-shadow: 0 10px 26px 0 rgba(0,0,0,.70);
    position: absolute;
    top: 10px;
    left: 70px;
    z-index: 1;
}

.wallpaper {
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('https://i.imgur.com/ku1Q0f1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


